<div style="color: black">
  <div style="position: relative; width: 100%; height: 100%;">
    <div id="smallModal" class="modal normal text-center">Results copied to clipboard!</div>
    <div class="text-center">
      <div class="d-flex flex-row justify-content-center">
        <h5 id="instructions" class="normal padding">You Completed Today's Puzzle!</h5>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <h3 *ngIf="(userScore - par) !== 0" class="pt-2 bold">
          {{ userScore - par }} Above Par
        </h3>
        <h3 *ngIf="(userScore - par) === 0" class="pt-2 bold">
          Perfect!
        </h3>        
      </div>
    </div>
    <div class="pb-5 pt-4 normal text-center" id="details-btn">
      <app-layered-btn [id]="detailsBtn" [content]="seeDetails" (click)="toggleDisplay()"></app-layered-btn>
    </div>

    <div class="pt-5 ps-5 text-center" id="share-btn">
      <app-layered-btn [id]="shareBtn" [dark]="dark" [content]="shareResults" (click)="copyResults()"></app-layered-btn>
    </div>
  </div>                 
</div>
