<div id="nav-container" class="pt-2 float-left position-fixed">
  <div class="d-flex">
    <img src="../../assets/intersections_logo.png" alt="intersection logo" id="logo">
    <div>
      <h2 class="logo logo-padding">Intersections</h2>
      <h5 class="sublogo light logo-padding">Your Guesses: {{userScore}}</h5>
      <h5 *ngIf="animate()" id="perfect-score" class="sublogo light logo-padding">Perfect: {{shownPar}}</h5>
    </div>
  </div>
</div>
<div *ngIf="viewTrue()" id="button-container" class="pt-4 mx-2 px-3 px-sm-3 px-md-4 d-flex justify-content-end">
  <app-layered-btn [id]="'how-play'" [content]="howPlayContent" (click)="openModal()" class="size-adjust position-fixed" id="archive-btn"></app-layered-btn>
  <app-layered-btn [id]="'archive'" [content]="archiveContent" (click)="openArchiveModal()" class="position-fixed" id="archive-btn"></app-layered-btn>
</div>