<div style="padding: 1.5rem; margin: 0px; width: 100%" class=" pt-2">
    <app-display id="display" *ngIf="displayView" [showEndMessage]="showEndMessage" [showInstructions]="showInstructions" [displayView]="displayView" (openDisplay)="toggleDisplay($event)"[found]="found" [missed]="missed" [userScore]="userScore" [par]="par"></app-display>
    <app-instruction-modal [isOpen]="isOpen" (onClose)="toggleModal($event)"></app-instruction-modal>
    <app-navbar [howPlayContent] = "howPlayContent" [userScore]="userScore" [shownPar]="shownPar" [par]="par" [displayView]="displayView" (onOpen)="toggleInstructionsDisplay($event)"></app-navbar>
    <div class="d-flex flex-column justify-content-center">
        <div class="pb-1" id="instructions-div">
            <app-end-message [displayView]="displayView" (openDisplay)="toggleEndMessageDisplay($event)" [userScore]="userScore" [par]="par"></app-end-message>
        </div>
        <div style="height: 100vh">
        <div class="container diamond" id="diamond">
            <div class="row row-stretch">
                <app-center class="hidden col d-flex flex-row-reverse"></app-center>
                <div id="green" #green class="opaque-text cat col justify-content-center green">
                    <p #greentext class="single-line-header d-flex justify-content-center cat-title bold">{{this.data.green.category_name}}</p>
                    <div #greenGuesses>
                        <p class="mt-2 normal">{{greenList[0]}}</p>
                        <p class="normal">{{greenList[1]}}</p>
                        <p class="normal">{{greenList[2]}}</p>
                    </div>
                </div>
                <app-center class="hidden col d-flex flew-row"></app-center>
            </div>
            <div class="row row-stretch">
                <div id="red" #red class="opaque-text cat col justify-content-center red">
                    <p #redtext class="single-line-header d-flex justify-content-center cat-title bold">{{this.data.red.category_name}}</p>
                    <div #redGuesses>
                        <p class="mt-2 normal">{{redList[0]}}</p>
                        <p class="normal">{{redList[1]}}</p>
                        <p class="normal">{{redList[2]}}</p>
                    </div>
                </div>
                <div id="centerBox" class="cat col d-flex flew-row justify-content-center">
                    <div (click) = "revealGame()" id="play-button">
                        <svg   
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="-50 -80 475 1000"
                            style="margin: auto;"
                            preserveAspectRatio="xMidYMid meet">
                            <path 
                            d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" 
                            fill="none" 
                            stroke="black" 
                            stroke-width="25" 
                            id="big_play"
                            />
                        </svg>
                    </div>
                    <p id="centertext" class="normal">{{innerText}}</p>
                </div>
                <div id="yellow" #yellow class="opaque-text cat col justify-content-center yellow">
                    <p #yellowtext class="single-line-header d-flex justify-content-center cat-title bold">{{this.data.yellow.category_name}}</p>
                    <div #yellowGuesses>
                        <p class="mt-2 normal">{{yellowList[0]}}</p>
                        <p class="normal">{{yellowList[1]}}</p>
                        <p class="normal">{{yellowList[2]}}</p>
                    </div>
                </div>
            </div>
            <div class="row row-stretch">
                <app-center class="hidden col d-flex flex-row-reverse"></app-center>
                <div id="blue" #blue class="opaque-text cat col justify-content-center blue">
                    <p #bluetext class="single-line-header d-flex justify-content-center cat-title bold">{{this.data.blue.category_name}}</p>
                    <div #blueGuesses>
                        <p class="mt-2 normal">{{blueList[0]}}</p>
                        <p class="normal">{{blueList[1]}}</p>
                        <p class="normal">{{blueList[2]}}</p>
                    </div>
                </div>
                <app-center class="hidden col d-flex flew-row"></app-center>
            </div>
        </div>
        </div>
        <div id="text-field" class="p-4 flex-row justify-content-center fixed-bottom normal">
            <button class="m-2 undo btn btn-outline-dark normal" id="reveal-mobile" (click)="revealPar()">
                Reveal
            </button>
            <div id="reveal-btn">
                <app-layered-btn [id]="'reveal-btn'" [used]="used" [content]="'Reveal'" (click)="revealPar()"></app-layered-btn>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div id="input" class="form-group mb-0 mt-2 justify-content-center normal sticky-bottom">
                  <input [(ngModel)]="innerText" 
                         (ngModelChange)="convertToLowercase()" 
                         name="innerText" 
                         id="submitGuess" 
                         placeholder="Enter 3 Words Per Category" 
                        >
                </div>
              </form>              
            <button type="submit" class="m-2 clear btn btn-outline-dark normal" id="submit-mobile" (click)="onSubmit()">
                Submit
            </button>
            <div id="submit-btn">
                <app-layered-btn [id]="'submitBtn'" (click)="onSubmit()" [content]="'Submit'"></app-layered-btn>
            </div>
        </div>
    </div>
</div>

