app-gameview {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    min-width: 850px;
    min-height: 650px;
    background-color: white;
  }
  

  app-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
  }

  