app-gameview {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; 
    background-color: white;
  }
  

  app-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
  }

  