<div id="display-div">

    <div class="top-scrim"></div>
    <!-- <div *ngIf="showEndMessage" id="back-btn">
        <app-layered-btn [icon]="true" [content]="'← Back'" [id]="'back-btn'" (click)="toggleDisplay()"></app-layered-btn>
    </div> -->
    <h2 *ngIf="showEndMessage" class="bold title half centered-text pt-3 pt-m-0 mt-lg-0">{{userScore-par}} Above Par</h2>
    <h2 *ngIf="showInstructions" id="instructions-title" class="bold title half centered-text pb-4">How To Play</h2>

    <div id="details" class="display-backdrop d-flex justify-content-center">
    
    <!-- End Message -->
    <div *ngIf="showEndMessage" id="end-message-content">

            <div class="pt-5">
                <!-- Found Section -->
                <h5 class="bold half pb-3 pt-5">Intersections You Found</h5>
                <div class="two-column-grid half pb-3">
                    <div *ngFor="let key of getKeys(found)" class="int-item-div d-flex justify-content-between">
                        <div class="normal int-item">
                        {{ toLowerCase(key) }}
                        </div>
                        <div class="d-flex circle-div">
                            <span *ngFor="let value of found[key]; let last = last" class="color-circle" [ngStyle]="{'background-color': colorMap[value]}">
                            </span>
                        </div>
                    </div>
                </div>
            <div id="items" class="pt-3 pb-5">
                <!-- Missed Section -->
                <h5 class="bold half pb-3">Intersections You Missed</h5>
                <div class="two-column-grid half" style="margin-bottom: 25vh">
                    <div *ngFor="let key of getKeys(missed)" class="int-item-div d-flex justify-content-between">
                        <div class="normal int-item">
                        {{ toLowerCase(key) }}
                        </div>
                        <div class="d-flex circle-div">
                            <span *ngFor="let value of missed[key]; let last = last" class="color-circle" [ngStyle]="{'background-color': colorMap[value]}">
                            </span>
                        </div>
                    </div>
                    <p class="text-break fs-6 small pt-5 font-italic text-muted">
                        Sources: {{source}}
                    </p>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    
    <!-- Instructions -->
    <div *ngIf="showInstructions" id="instructions-content">
        <!-- <div id="back-btn">
            <app-layered-btn [icon]="true" [content]="'←'" [id]="'back-btn'" (click)="toggleDisplay()"></app-layered-btn>
        </div> -->
        <div class="half scrollable-content">
            <div class="normal pt-5">
                <p>Every puzzle has 4 categories. Entering 3 words that belong to a given category will complete it. Your goal is to complete all 4 categories in as few guesses as possible. You can do this by identifying <span class="bold">intersections</span>, or words that fall into multiple categories. 
                
                <p><span class="bold">Example:</span></p>
                
                <p>Imagine a game with the categories <span class="bold">Major Roman Gods, NASA Space Missions, Periodic Elements, and Planets in Our Solar System</span>. By entering guesses that belong exclusively to a single category, you’ll fill the categories inefficiently:</p>

                <div class="content-centered">
                <img class="instruction-image" src="../../assets/instructions/brute_game_example.png" alt="Brute game example">
                </div>
                
                <p>Alternatively, by finding this puzzle’s <span class="bold">intersections</span>, you can reduce your number of total guesses:</p>

                <div class="content-centered">
                <img class="instruction-image" src="../../assets/instructions/correct_game_example.png" alt="Correct game example">
                </div>
                
                <p>Of course, not every <span class="bold">intersection</span> belongs to all four categories, as “Mercury” does in the example above. <span class="bold">Intersections</span> between two or three categories are more common (e.g., “Venus” or “Apollo”), and you’ll often need a few single-category entries to fully complete the game.</p>
                
                <p>The <span class="bold">perfect</span> score represents the fewest possible guesses required to complete the puzzle. Each puzzle’s <span class="bold">perfect</span> score is initially hidden, but if you get stuck, you can use the <span class="bold">Reveal</span> button to see if you’re on the right track.</p>                

            </div>
        </div>
    </div>
</div>
